.Nome-Home4{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    padding: 50px 0;
    background: linear-gradient(rgb(107,104,104), white, white);
    font-family: 'Montserrat', sans-serif;    
}
.formContainer form{
    margin: 0 auto;
}